.radioGr-user {
  display: flex;
}
.radioGr-user > Label {
  margin-right: 1rem;
}
.radioBtn-user {
  margin: 1rem;
}

.btnModalSignUp-login {
  display: flex;
  text-align: left;
  text-decoration: none !important;
}
.titleModalSignUp-login{
    font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-shadow: -2px 1.8px #b1e693;
}
.titleTextSignUp-login{
    font-weight: 600 !important;
}
