.popoverCart {
  width: 20rem;
  /* transform: translateX(-30px); */
}
.popover {
  max-width: 20rem !important;
  /* transform: translateX(-30px) !important; */
}
.img-cart {
  width: 5rem;
}
.cart-form {
  /* border: 1px solid #333;
    border-width: medium; */
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
.priceCart {
  text-align: right;
}
.priceNum {
  margin-left: 0.125em;
  color: #ff3f00;
}
.totalCost {
  text-align: center;
  margin: auto;
}
.cartModal-Btn{
  text-decoration: none;
  color: #F3F0D7;
  -webkit-text-stroke: 3.75px #FF7878;
}