#img-prod{
    width: 100%;
    padding: 2rem;
}
.info-prod{
    padding:2rem;
    text-align: left;
}
.name-prodDetail {
    text-align: left;
}
.price-prod{
    display: flex;
    font-size: 3rem;
    padding: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-family: inherit;
    font-weight: 550;
    text-shadow: -2.5px 2px #B8DFD8;
    background-color: #F3F4ED;
    color: #F05945;
}
.currency-prod{
    font-size: 2.5rem;
    color: #F05945;
}
.descrip-prod{
    text-align: left;
    padding: 2rem;
}
.prod-btn{
    margin-top: 3rem;
}
.addtoCard-btn{
    display: inline-block;
    width: 9rem;
    text-align: center;
    align-content: flex-end;
    border: 1px solid #7DEDFF;
    background-color:#E8F6EF;
    color: #39A2DB;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    text-decoration: none;
}
.buyNow-btn{
    display: inline-block;
    width: 9rem;
    text-align: center;
    align-content: flex-end;
    border: 1px solid #39A2DB;
    background-color:#39A2DB;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}