.btnCol-ModalRv{
    text-align: right;
}
.reviewForm{
    padding: 1rem;
    background-color: #F1ECC3;
    margin-bottom: 1rem;
}
.Paging{
    display: flex;
    text-align: center;
    margin: auto;
}

