.title-AddCategoryAdmin {
  font-weight: 600;
  text-shadow: -2px 2px #E1CCEC;
}
.radioGr-user {
  display: flex;
}
.btn-modal {
  text-align: left;
  margin: 1rem;
}
.radioGr-user > Label {
  margin-right: 1rem;
}
.radioBtn-user {
  margin: 1rem;
}
