.card-info{
    display: flex;
    justify-content: space-between;
}
.cardProd{
    height : 400px;
}
.card-btn{
    align-content: flex-end;
    border: 1px solid #333;
    background-color:black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 0.5em;
    text-decoration: none;
}
.card-btn:hover{
    border: 1px solid #A2CDCD;
    background-color: #A2CDCD;
    text-shadow: -2.5px 2px #ff5c58;
    color: black;
}
.card-name-prodHome{
    text-align: left;
    font-family: Arial;
    color: black;
    font-weight: 540;
}
.card-price{
    align-content: flex-start;
    font-family: inherit;
    text-align: left;
    width: fit-content;
    color: orangered;
    text-shadow: -2.5px 2px #A2CDCD;
    font-weight: 550;
}