.title-OrderAdmin {
  margin: 2rem;
  font-weight: 600;
  text-shadow: -2px 2px #FF9A3C;
}
.titleTable-OrderAdmin{
  font-weight: 600;
  text-shadow: -2px 2px #FF9A3C;
}
.btn-list {
  display: flex;
  text-align: left;
  margin: 1rem;
  margin-left: 3rem;
}
.img-order {
  text-align: left;
  height: 200px;
}
#prodOrder-form {
  border: 0.25px solid #333;
  border-width: medium;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.info-prod-order {
  text-align: left;
}
.tableOrder {
  margin-left: 1rem;
}
.statusColor-InProcess{
  background-color: #FFFEB7;
}
.statusColor-Delivery{
  background-color: #39A2DB;
}
.statusColor-Complete{
  background-color: #6ECB63;
}
.statusColor-Canceled{
  background-color: #FF5C58;
}
.statusColorChoice-InProcess{
  color: #FFB344;
}
.statusColorChoice-Delivery{
  color: #22577A;
}
.statusColorChoice-Complete{
  color: #5D8233;
}
.statusColorChoice-Canceled{
  color: #FF5C58;
}
.statusChoice-Order{
  display: flex;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.statusChoiceText-Order{
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.7rem;
}