.title-OrderAdmin {
  margin: 2rem;
  font-weight: 600;
  text-shadow: -2px 2px #ff9a3c;
}
.titleTable-OrderAdmin {
  font-weight: 600;
  text-shadow: -2px 2px #ff9a3c;
}
.btn-list {
  display: flex;
  text-align: left;
  margin: 1rem;
  margin-left: 3rem;
}
.img-order {
  text-align: left;
  height: 120px;
}
.scrollable-Order {
  overflow: scroll;
  max-height: 32rem;
  width: 100%;
}
#prodOrder-form {
  border: 0.25px solid #333;
  border-width: medium;
  padding: 0.5rem;
  /* margin-inline: 1rem; */
  margin-bottom: 2rem;
}
.info-prod-order {
  text-align: left;
  padding: 0.5rem;
}
.tableOrder {
  margin-left: 1rem;
}
.statusColor-InProcess {
  background-color: #fffeb7;
}
.statusColor-Delivery {
  background-color: #39a2db;
}
.statusColor-Complete {
  background-color: #6ecb63;
}
.statusColor-Canceled {
  background-color: #ff5c58;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.statusColorChoice-InProcess {
  color: #ffb344;
}
.statusColorChoice-Delivery {
  color: #22577a;
}
.statusColorChoice-Complete {
  color: #5d8233;
}
.statusColorChoice-Canceled {
  color: #ff5c58;
}
.statusChoice-Order {
  display: flex;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.statusChoiceText-Order {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.7rem;
}
