.radioGr-user {
  display: flex;
}
.radioGr-user > Label {
  margin-right: 1rem;
}
.radioBtn-user {
  margin: 1rem;
}
.edtUser-text {
  margin-bottom: 0;
}
.onUserSide {
  text-decoration: none;
  color: #1DB9C3;
  font-weight: 600;
}