.title-OrderImport {
  font-weight: 600 !important;
  text-shadow: -2px 2px #8ac6d1;
}
.titleTable-OrderImportAdmin {
  font-weight: 600;
  text-shadow: -2px 2px #8ac6d1;
}
.search-OrderImport{
  margin-top: 1rem;
}
.btn-list {
  display: flex;
  text-align: left;
  margin: 1rem;
  margin-left: 3rem;
}
.img-order {
  text-align: left;
  height: 200px;
}
#prodOrderImport-form {
  border: 0.25px solid #333;
  border-width: medium;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.info-prod-order {
  text-align: left;
}
.tableImport {
  margin-left: 1rem;
}
