.review-card{
    border: 1px solid #333;
    border-width: medium;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-inline: 5rem;
    padding: 1rem;
    text-align: left;
}
.reviewInput-card{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-inline: 5rem;
    padding: 1rem;
    text-align: left;
}
.btnInput-card{
    text-align: right;
}
.rateNum{
    text-align: left;
}
.inputForm{
    height: 120px;
}
.col-review{
    margin-left: 2rem;
}
.date-review{
    margin: 0;
    font-size: 0.9rem;
    color: grey;
    padding-left: 1.2rem;
}
.name-review{
    margin:0;
    text-align: left;
}