.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem;
  font-size: 20px;
  margin-bottom: 2rem;
  background-color: #c9d8b6;
  color: coral;
  text-align: right;
  text-decoration: none;
  border: 1px solid #333;
  border-width: medium;
}
#card-button {
  text-align: right;
}

.welcome-nav {
  margin-right: 2rem;
}
.searchField-Navbar {
  width: 20rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.popoverCart-Nav {
  width: 20rem;
  /* transform: translateX(-30px); */
}
.popover-Nav popover {
  max-width: 30rem !important;
  /* transform: translateX(-30px) !important; */
}
.img-prodSearch {
    width: 4rem;
}