.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;

  /* margin-bottom: 2rem; */
  background-color: black;

  text-align: right;
  text-decoration: none;
  /* border: 1px solid #333;
  border-width: medium; */
}
.fixed-nav:hover {
  background-color: #63b4b8;
}
#card-button {
  text-align: right;
}
.Nav-HomeBtn {

  text-shadow: -2px 1.8px #ff5c58;
}

.welcome-nav {
  margin-right: 2rem;
}
.searchField-Navbar {
  width: 20rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.popoverCart-Nav {
  width: 20rem;
  /* transform: translateX(-30px); */
}
.popover-Nav popover {
  max-width: 30rem !important;
  /* transform: translateX(-30px) !important; */
}
.img-prodSearch {
  width: 4rem;
}
